<div class="d-flex flex-column flex-shrink-0 bg-body-tertiary" style="width: 4.5rem; height: 100vh;">
    <a href="/" class="d-block p-3 link-body-emphasis text-decoration-none" data-bs-toggle="tooltip"
        data-bs-placement="right" data-bs-original-title="Icon-only">
        <i class="bi bi-house-door" style="font-size: 2rem;"></i>
        <span class="visually-hidden">Home</span>
    </a>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li class="nav-item">
            <a href="#" class="nav-link active py-3 border-bottom rounded-0" aria-current="page"
                data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Home" data-bs-original-title="Home">
                <i class="bi bi-house-door" style="font-size: 1.5rem;"></i>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link py-3 border-bottom rounded-0" aria-label="Profile" data-bs-toggle="tooltip"
                data-bs-placement="right" aria-label="Profile" data-bs-original-title="Profile">
                <i class="bi bi-person" style="font-size: 1.5rem;"></i>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link py-3 border-bottom rounded-0" aria-label="Messages" data-bs-toggle="tooltip"
                data-bs-placement="right" aria-label="Messages" data-bs-original-title="Messages">
                <i class="bi bi-envelope" style="font-size: 1.5rem;"></i>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link py-3 border-bottom rounded-0" aria-label="Settings" data-bs-toggle="tooltip"
                data-bs-placement="right" aria-label="Settings" data-bs-original-title="Settings">
                <i class="bi bi-gear" style="font-size: 1.5rem;"></i>
            </a>
        </li>
    </ul>
</div>