{% extends '/base/default.html'%}

{% block conteudo %}
{% include '/base/partials/nav.html'%}
<div class="container">
    <div id="popupContainer"></div>
    <h2 class="mt-4">Cadastro de Paciente</h2>
    <p><small>Campos que contém <span class="erroForm">*</span> são obrigatórios!</small></p>
    <form id="formEv" action="{{url('Controller/cadastrarPacienteController.php')}}" method="POST">
        <div class="form-group">
            <label for="nomeCompleto">Nome Completo:<span class="erroForm">*</span></label>
            <input type="text" class="form-control" id="nomeCompleto" name="nomeCompleto" required>
            <p id="nomeErro" class="erroForm"></p>
        </div>
        <div class="form-group">
            <label for="cpf">CPF:<span class="erroForm">*</span></label>
            <input type="text" class="form-control" id="cpf" name="cpf" required>
            <p id="cpfErro" class="erroForm"></p>
        </div>
        <div class="form-group">
            <label for="dataNascimento">Data de Nascimento:</label>
            <input type="date" class="form-control" id="dataNascimento" name="dataNascimento" required>
        </div>
        <div class="form-group">
            <label for="genero">Gênero:</label>
            <select class="form-control" id="genero" name="genero" required>
                <option value="Masculino">Masculino</option>
                <option value="Feminino">Feminino</option>
                <option value="Outro">Outro</option>
            </select>
        </div>
        <div class="form-group">
            <label for="bairro">Bairro:</label>
            <input type="text" class="form-control" id="bairro" name="bairro" required>
        </div>
        <div class="form-group">
            <label for="rua">Rua:</label>
            <input type="text" class="form-control" id="rua" name="rua" required>
        </div>
        <div class="form-group">
            <label for="numero">Número:</label>
            <input type="text" class="form-control" id="numero" name="numero" required>
        </div>
        <div class="form-group">
            <label for="complemento">Complemento:</label>
            <input type="text" class="form-control" id="complemento" name="complemento">
        </div>
        <div class="form-group">
            <label for="cidade">Cidade:</label>
            <input type="text" class="form-control" id="cidade" name="cidade">
        </div>
        <div class="form-group">
            <label for="naturalidade">Naturalidade:</label>
            <input type="text" class="form-control" id="naturalidade" name="naturalidade">
        </div>
        <div class="form-group">
            <label for="telefone">Telefone:<span class="erroForm">*</span></label>
            <input type="tel" class="form-control" id="telefone" name="telefone">
            <p id="telErro" class="erroForm"></p>
        </div>
        <div class="form-group">
            <label for="email">Email:<span class="erroForm">*</span></label>
            <input type="email" class="form-control" id="email" name="email">
            <p id="emailErro" class="erroForm"></p>
        </div>
        <div class="form-group">
            <label for="alergia">Alergia:</label>
            <input type="text" class="form-control" id="alergia" name="alergia">
        </div>
        <div class="form-group">
            <label for="historicoCirurgia">Histórico de Cirurgias:</label>
            <input type="text" class="form-control" id="historicoCirurgia" name="historicoCirurgia">
        </div>
        <div class="form-group">
            <label for="contatoEmergencia">Contato de Emergência:<span class="erroForm">*</span></label>
            <input type="text" class="form-control" id="contatoEmergencia" name="contatoEmergencia">
            <p id="ContEmerErro" class="erroForm"></p>
        </div>

        <button type="submit" id="enviado" class="btn btn-primary">Cadastrar</button>
        <a href="{{asset('consultar_dados')}}" class="btn btn-warning rounded-5">Voltar</a>
    </form>
</div>
<script src="{{asset('public/assets/js/validacoes/cadastroPacientes.js')}}" type="module"></script>
{% endblock %}