{% extends 'base/default.html'%}
{% block conteudo %}

<header class="mb-0">
    <a href="http://localhost/PROJETO_INTEGRADO_FRONT_E_BACK/">
        <div id="logo">
            <img id="logoImg" src="public/assets/img/logo2.png" alt="logo do pronto Atendimento">
        </div>
    </a>

    <div id="navHome" style="background-color: #2f60a7;">
        <div id="divContainerHome" class="container">
            <div id="cxNavHome">

                <ul class="nav">
                    <li><a href="#" class="nav-link text-light link-secondary">Sobre</a></li>
                    <li><a href="#" class="nav-link text-light link-body-emphasis">Missão</a></li>
                </ul>
                <div class="btn-group">
                    <a href="{{asset('login')}}" type="button" id="btnNavHome" class="btn" aria-expanded="false">
                        Login
                    </a>
                </div>

            </div>
        </div>
    </div>
</header>

<section>
    <div id="paiImg">
        <img id="imgCorpo" src="public/assets/img/doctor.jpg" alt="doutores sorrindo">
        <div id="caixaImg">
            <div>
                <h2 id="caixaHeaderHome">Use the online image color picker above to select a
                    color
                    and get the
                    HTML Color Code of this pixel.
                </h2>
            </div>
        </div>
    </div>
    <div>
        <div id="card" class="container">
            <div>
                <h2>Testando o conteúdo</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, qui! Minima voluptatibus nam
                    id, blanditiis consequuntur molestias a cum quas ducimus consectetur error nesciunt
                    accusantium non ipsum eveniet distinctio nihil.
                    Quo, delectus? Quas optio, adipisci qui unde, ex quisquam voluptates animi rerum nemo porro
                    nam officiis nisi hic fugit tenetur ea velit a eveniet minima accusantium dolorum
                    reprehenderit earum nostrum? <a href="#">Ler mais...</a></p>
            </div>

        </div>
    </div>
</section>

<div>

    <div class="todosCirculosHome">
        <div class="circuloHome">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Imagem" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Imagem</title>
                <defs>
                    <clipPath id="clip-circle">
                        <circle cx="70" cy="70" r="70" />
                    </clipPath>
                </defs>
                <image href="public/assets/img/abs.png" width="140" height="140" clip-path="url(#clip-circle)" />
            </svg>
            <h2>Heading</h2>
            <p>Some representative placeholder content for the three columns of text below the carousel. This is
                the first column.</p>
            <p><a class="btn" href="#">View details »</a></p>
        </div>
        <div class="circuloHome">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
            </svg>
            <h2>Heading</h2>
            <p>Another exciting bit of representative placeholder content. This time, we've moved on to the
                second column.</p>
            <p><a class="btn" href="#">View details »</a></p>
        </div>
        <div class="circuloHome">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
            </svg>
            <h2>Heading</h2>
            <p>Another exciting bit of representative placeholder content. This time, we've moved on to the
                second column.</p>
            <p><a class="btn" href="#">View details »</a></p>
        </div>
    </div>

    <hr>

    <div class="cxHome">
        <div>
            <h2 class="featurette-heading">First featurette heading. <span>It’ll blow your mind.</span></h2>
            <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting
                prose here.</p>
        </div>
        <div>
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%"
                    fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
            </svg>
        </div>
    </div>

    <hr>

    <div class="cxHome">
        <div>
            <h2>Oh yeah, it’s that good. <span>See for yourself.</span></h2>
            <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of
                how this layout would work with some actual real-world content in place.</p>
        </div>
        <div>
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%"
                    fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
            </svg>
        </div>
    </div>

    <hr>

    <div class="cxHome">
        <div>
            <h2>And lastly, this one. <span>Checkmate.</span></h2>
            <p class="lead">And yes, this is the last block of representative placeholder content. Again, not
                really intended to be actually read, simply here to give you a better view of what this would
                look like with some actual content. Your content.</p>
        </div>
        <div>
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%"
                    fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
            </svg>
        </div>
    </div>

</div>

{% endblock %}