{% extends '/base/default.html' %}
{% block conteudo %}
{% include '/base/partials/nav.html' %}

<main id="mainLogin" class="bg-light">
    <script src="{{ asset('public/assets/js/login.js') }}" type="module"></script>

    <div id="animation" class="zindex">
        <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
            type="module"></script>

        <dotlottie-player src="https://lottie.host/f3e43d4d-dd6f-4844-b7a6-2c39e51872a4/ryqEz3skZE.json"
            background="transparent" speed="1" style="width: 90%; height: 80vh;" loop autoplay></dotlottie-player>
    </div>

    <!-- Container for login form -->
    <section class="login-container" id="login-container">
        <article id="paiForm" class="card bg-light">
            <h3 class="card-title text-center">Login</h3>
            <form id="telaForm" action="Controller/loginController.php" method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input type="password" class="form-control" id="senha" name="senha" required>
                </div>
                <div id="funcionarioDiv">
                    <select class="form-select w-100 text-center" required aria-label="Selecione o Cargo" name="cargo"
                        id="cargo">
                        <option value="0" selected disabled>Selecionar Cargo</option>
                        <option value="1">Médico</option>
                        <option value="2">Enfermeiro</option>
                        <option value="3">Atendente</option>
                        <option value="4">Administrador</option>
                    </select>
                </div><br><br>
                <input type="submit" id="btnOculto" class="oculto" value="Entrar">
                <button type="submit" id="btnLogin" class="btn btn-block">Entrar</button>
                <br><br>
                <a href="/PROJETO_INTEGRADO_FRONT_E_BACK/">voltar</a>
            </form>
            {% if erro %}
            <div id="erro" class="alert alert-danger text-center">{{ erro }}</div>
            {% endif %}
            <div id="err"></div>
        </article>
    </section>
</main>
{% endblock %}