# OCULTAR EXIBIÇÃO DE DIRETÓRIOS
Options -Indexes

# TRABALHAR COM URL AMIGÁVEL
RewriteEngine On

# DEFINIR A URL BASE
RewriteBase /PROJETO_INTEGRADO_FRONT_E_BACK

# PERMITIR ACESSO DIRETO A ARQUIVOS E DIRETÓRIOS
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# PERMITIR ACESSO A ARQUIVOS ESTÁTICOS
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule \.(jpg|jpeg|png|gif|css|js)$ - [L]

# REDIRECIONAR REQUISIÇÕES PARA index.php SE NÃO FOREM ARQUIVOS, DIRETÓRIOS OU LINKS SIMBÓLICOS
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*)$ index.php/$1 [L]
