# Desabilitar a exibição de diretórios
Options -Indexes

# Ativar o mecanismo de reescrita
RewriteEngine On

# Definir a URL base
RewriteBase /PROJETO_INTEGRADO_FRONT_E_BACK/

# Permitir o acesso direto a arquivos e diretórios existentes
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Permitir o acesso a arquivos estáticos como CSS, JS e imagens
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule \.(jpg|jpeg|png|gif|css|js)$ - [L]

# Redirecionar todas as outras requisições para index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]

