<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url('public/assets/css/bootstrap.min.css')}}">
    <link rel="icon" type="image/x-icon" href="public/assets/img/logo.png">
    <title>
        {% if titulo %}
        {{titulo}}
        {% else %}
        {{ constant('TITULO') }}
        {% endif %}

    </title>
    <link rel="stylesheet" href="public/assets/css/triagem.css">
    <link rel="stylesheet" href="public/assets/css/home.css">
    <link rel="stylesheet" href="public/assets/css/notFound.css">
    <link rel="stylesheet" href="public/assets/css/nav.css">
    <link rel="stylesheet" href="public/assets/css/login.css">
    <link rel="stylesheet" href="public/assets/css/visualizar.css">
    <link rel="stylesheet" href="public/assets/css/popup.css">
    <link rel="stylesheet" href="public/assets/css/confirmaForm.css">
    <link rel="stylesheet" href="public/assets/css/erro.css">
    <link rel="stylesheet" href="public/assets/css/dadosPaciente.css">

</head>

<body id="body" style="background-color:  white;">

    {% block conteudo %} {% endblock %}

    {% if not login %}
    <!-- <div class="container p-0 mt-0">
        <hr class="featurette-divider">
    </div> -->
    <!-- <footer class="container d-flex  justify-content-between align-items-center  p-0">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>© 2017–2024 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </footer> -->
    {% endif %}
    </div>
    <script src="{{url('public/assets/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{asset('public/assets/js/confirmacaoForm/confirmacaoEnvio.js')}}"></script>


</body>

</html>