* {
    box-sizing: border-box;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: white;
}


.borda {
    border: 1px solid orangered;
}

#logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

#logoImg {
    width: 10%;
}

#imgCorpo {
    width: 100%;

}

#card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#paiImg {
    position: relative;
}

#caixaImg {
    background-color: rgba(110, 197, 207, 0.7);
    width: 40%;
    height: 200px;
    position: absolute;
    padding: 20px;
    bottom: 0;
    left: 100px;
}

.corPrincipal {
    background-color: rgba(110, 197, 207, 0.7) !important;
}








/* Barra de rolagem personalizada */
::-webkit-scrollbar {
    width: 6px;
    /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Cor do fundo da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background: rgba(110, 197, 207, 0.7);

    /* Cor do "polegar" da barra de rolagem */
    border-radius: 10px;
    /* Bordas arredondadas do polegar */
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Cor do polegar ao passar o mouse */
}